.scoreboard{
  /* display: flex;
  justify-content: space-around; */
  border: 3px solid black;
  text-align: center;
  padding: 5px;
  background-color: rgb(255, 255, 255, 0.5);
}

.nums{
  border: 2px solid red;
  margin: 20px;
}

.button{
  border: 1px solid blue;
  border-radius: 1em;
  font-size: 1em;
  height: 28px;
  width: 80%;
  margin: 2% 10%;
}

.undo-button{
  border: 1px solid red;
  border-radius: 1em;
  background-color: orange;
  font-size: 1em;
  height: 28px;
  width: 80%;
  margin: 2% 10%;
}

.reset-button{
  text-align: center;
  font-size: 1em;
  width: 60%;
  height: 2em;
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid black;
  border-radius: 2em;
  background-color: red;
}
