
.start{
  width: 50%;
  font-size: 1em;
  background-color: green;
  border-radius: 1em;
}

.stop{
  width: 50%;
  font-size: 1em;
  background-color: yellow;
  border-radius: 1em;
}

.reset{
  width: 50%;
  font-size: 1em;
  background-color: red;
  border-radius: 1em;
}

.over{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #ffa0aa;
}

.under{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
}
