
.start{
  width: 50%;
  font-size: 1em;
  background-color: green;
}

.stop{
  width: 50%;
  font-size: 1em;
  background-color: yellow;
}

.reset{
  width: 50%;
  font-size: 1em;
  background-color: red;
}
