.title{
  text-align: center;
}
.scores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  margin: 10px;
}

.scoreboard{
  border: 3px solid black;
  text-align: center;
  padding: 10px;
}

.nums{
  border: 2px solid red;
  margin: 20px;
}

.button{
  text-align: center;
  border: 1px solid blue;
  width: 60%;
  display: inline-block;
}

.reset-button{
  text-align: center;
  border: 1px solid blue;
  width: 60%;
  display: inline-block;
  background-color: orange;
}

.timer{
  border: 2px solid purple;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.start{
  width: 50%;
  font-size: 1em;
  background-color: green;
}

.stop{
  width: 50%;
  font-size: 1em;
  background-color: yellow;
}

.reset{
  width: 50%;
  font-size: 1em;
  background-color: red;
}

footer{
  vertical-align:text-bottom;
  text-align: center;
}
